test.prekladu: Proběhl v pořádku
%d items: '{1} %count% záznam|{2,3,4} %count% záznamy|]0,Inf[ %count% záznamů|'
storage.message.badfile: 'Musíte nahrát platný obrázek (jpg, png, gif)!'
storage.message.nothing: 'Obrázek se nepodařilo nahrát, zkuste to později.'
storage.message.upload: 'Obrázek úspěšně nahrán'
storage.message.upload-backup: 'Obrázek úspěšně nahrán (a zálohován)'
storage.message.notfound: 'Poslední záznam nenalezen'
storage.message.delete-upload-backup: 'Obrázek odstraněn (včetně zálohy)'
storage.message.delete-upload-not-backup: 'Obrázek odstraněn'
storage.message.delete-backup-not-upload: 'Obrázek nebyl odstraněn, pouze jeho záloha'
storage.message.delete-nothing: 'Obrázek se nepovedlo odstranit'
Filter: 'Filtrovat'
Next: 'Další'
Previous: 'Předchozí'
Cancel: 'Zrušit'
twigrid.inline.edit: 'Upravit'
twigrid.inline.edit_confirm: 'Uložit'
twigrid.inline.cancel: 'Zrušit'
twigrid.data.no_data: 'Žádné záznamy'
twigrid.pagination.total: '{0} žádné záznamy|{1} %count% záznam|{2,3,4} %count% záznamy|[5,Inf[ %count% záznamů'
twigrid.filters.filter: 'Filtrovat'
twigrid.filters.cancel: 'Zrušit'
twigrid.pagination.previous: 'Předchozí'
twigrid.pagination.next: 'Další'